<div class="container">
  <form  [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden"  formControlName="$key">
          <mat-form-field>
            <input formControlName="fullName"  matInput placeholder="FullName">
            <mat-error>This field is mandatary.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field><mat-form-field>
            <input formControlName="mobile" matInput placeholder="Mobile">
            <mat-error  *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatary.</mat-error>
            <mat-error  *ngIf="service.form.controls['mobile'].errors?.minlength">minimun 8 charactors needed.</mat-error>
          </mat-form-field><mat-form-field>
            <input formControlName="city" matInput placeholder="city">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="add-botton-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Option 1</mat-radio-button>
              <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <mat-select formControlName="department" placeholder="departments">
                  <mat-option>none</mat-option>
                  <mat-option>Dep1</mat-option>
                  <mat-option>Dep2</mat-option>
                  <mat-option value=""></mat-option>
            </mat-select>
          </mat-form-field><!--
            <mat-form-field>
            <input formControlName="hireDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          -->
          <div class="add-botton-padding">
    
          <mat-checkbox formControlName="isPermanent" >Permament Employee</mat-checkbox>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" [disabled]="service.form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()" type="submit">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    </form>
    

</div>


