<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Angular</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
<app-employee></app-employee>
</div>



