/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.container{
  margin: 0px 40px;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

 form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}
.controles-container > *{
  width: 100%;
}

.add-botton-padding{
  padding-bottom: 10px;
}

mat-radio-group mat-radio-button{
  margin-left: 5px;

}
.button-row button{
  margin: 5px;
}


 .search-div{
   margin: 10px;
 }

  .search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }

     .search-form-field div.mat-form-field-underline{
       display: none;
     }
     .search-form-field div.mat-form-field-infix{
      border-top: 0px;
    }
    .search-form-field div.mat-form-field-wraper{
      padding-bottom: 0px;
    }
    .search-form-field div.mat-form-field-suffix button{
      height: 32px;
      width: 32px;

    }
